body{
    .bodyPrestamos{
        display: grid;
        grid-template-columns: 500px 1500px;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        #cajaResultados{
            grid-area: 1 / 2 / 2 / 3;
            margin-top: 25px;
            margin-right: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
        .cajaIngreso{
            grid-area: 1 / 1 / 2 / 2; 
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb(17, 245, 169);
            border-radius: 5%;
            margin: 5%;
            .textoCajaIngreso{
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                color: black;
            }
        }
    }
}